<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Modal -->
<div th:fragment="orderConfirmModal(divisionList,orderList)" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="col-11 modal-title text-center " id="staticBackdropLabel">Order Information</h5>
        <button type="button" class="col-1 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	 <form role="form" method="POST" th:action="@{/order/create}" >
      	 	<input type="hidden" name="orderList" th:value="${orderList}">
      		<div class="d-flex flex-row justify-content-between my-3">
  	  			<div class="col-3 ">Item</div>
  	  			<div class="col-4 text-center">12 Nos </div>
  	  			<div class="col-2 text-center"> =</div>
  	  			<div class="col-3 d-flex flex-row justify-content-end" style="font-weight:bold;"> <span class="total px-1"></span> Ks</div>
  	  		</div>			  	  		
                  <div class="form-group row py-sm-2 mb-0">
                      <label class="control-label">Receiver Name</label>
                      <div>
                          <input type="text" class="form-control input-lg" name="receiverName">
                      </div>
                  </div>
                  <div class="form-group row py-sm-2 mb-0">
                      <label class="control-label">Receiver Phone</label>
                      <div>
                          <input type="tel" class="form-control input-lg" name="receiverPhone">
                      </div>
                  </div>
		    <div class="form-group py-sm-2 ">
		    	<label class="control-label">Division</label>
		    	<div>					    	
				    <select class="form-select " aria-label="Default select example" name="divisionId"  >
					  <option th:each="division : ${divisionList}" th:object="${division}" 
                              th:text="*{name}" th:value="*{id}">
                      </option>
					</select>
		    	</div>					     						     	
		    </div>
		    <div class="form-group row  py-sm-2 mb-0">
		    	<div>
		    		<label for="exampleFormControlTextarea1">Delivery Address</label>
			    	<textarea class="form-control" name="receiverAddress" id="exampleFormControlTextarea1" rows="3"></textarea>
		    	</div>						    
			</div>
			<div class="form-group col py-sm-3 mb-0 d-flex flex justify-content-evenly ">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
		        <button type="submit" class="btn btn-primary">Order Confirm</button>
		    </div>
        </form>			         
      </div>      
    </div>
  </div>
</div>

</html>