<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/common :: head('Online Shopping System')" ></head>
	
  <body>
  	  <!-- Header -->
	  <div th:replace="fragments/common :: header(Auth=${Auth})"></div>  
	  <div class="my-5 py-5"></div>	  
	  <div class="mx-auto w-75 mt-5">	  
	  	<div class="row g-5">
	  		<div class="col-3" th:each="item:${items}" th:object="${item}">
	  			<div class="card" > 
			    	<img th:src="@{*{photoUrl} }" class="card-img-top img-fluid" style="height:200px;width:auto;" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title" th:text="*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')+' Ks'}"></h5>
				      <p class="card-text" style="height:50px;overflow:hidden;" th:text="*{name}"></p>
			    	</div>
				  	<div class="card-footer d-flex flex-row justify-content-center items-center">
					  	<button class="btn btn-outline minus" th:itemId="*{id}" ><i class="bi bi-dash-square"></i></button>				  		
					  	<div th:itemQtyId="*{id}" class="btn" >0</div>
					  	<button class="btn btn-outline plus" th:itemId="*{id}" th:itemName="*{name}" th:itemPrice="*{price}"><i class="bi bi-plus-square"></i></button>	
				  	</div>	
			  	</div>
	  		</div>  
	  </div>  
	 </div>
	 <script>
	 	$(document).ready(function(){
	 		$(".minus").click(function(){
				const itemId = $(this).attr("itemId");
				const qtyDiv = $(`div[itemQtyId='${itemId}']`);
				
				const updatedQty = parseInt(qtyDiv.text())-1;
				
				if(qtyDiv.text()>0){
					let cartListDiv = $("#cartList");
		 			let cartList = JSON.parse(cartListDiv.val());
		 			
		 			let updatedCartList;
		 			if(qtyDiv.text() == 1){ // remove from list
		 				updatedCartList = cartList.filter((item)=>item.id != itemId)
		 			}else{
		 				updatedCartList = cartList.map((item)=>{
		 					if(item.id == itemId){
		 						return {...item,qty:updatedQty}
		 					}else{
		 						return item;
		 					}
		 					
		 				})
		 			}
					// update input
					cartListDiv.val( JSON.stringify(updatedCartList) );
					
					// qty text update
					qtyDiv.text( updatedQty );
					
					//badges update
		 			$("#cartItemCount").text(updatedCartList.length);
				 }
	 		});
	 		
	 		$(".plus").click(function(){
	 			const itemId = $(this).attr("itemId");
	 			const itemName = $(this).attr("itemName");
	 			const itemPrice = $(this).attr("itemPrice");
	 			const qtyDiv = $(`div[itemQtyId='${itemId}']`);
	 			const updatedQty = parseInt(qtyDiv.text())+1;
	 			
	 			let cartListDiv = $("#cartList");
	 			let cartList = JSON.parse(cartListDiv.val());
	 			
	 			let updatedCartList;
	 			if(qtyDiv.text() == 0){
	 				const item = {
	 						id: parseInt(itemId),
	 						name: itemName,
	 						price: parseInt(itemPrice),
	 						qty: updatedQty
	 				}
	 				updatedCartList = [...cartList,item];
	 			}else{
	 				updatedCartList = cartList.map((item)=> {
	 					if(item.id == itemId){
	 						return {...item,qty: updatedQty};
	 					}else{
	 						return item;
	 					}
	 				})
	 			}
	 			
	 			// update input 
	 			cartListDiv.val( JSON.stringify( updatedCartList ) );
	 			
	 			// qty text update
	 			qtyDiv.text( updatedQty );
	 			
	 			//badges update
	 			$("#cartItemCount").text(updatedCartList.length);
	 		});
	 		
	 	});
	 </script>
  </body>
</html>