<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/common :: head('Create Order')" ></head>

  <body>
  	   <!-- reciever -->
  	   <div class="has_error" th:if="${has_error}" th:text="${has_error}"></div>
  	   <div class="has_error" th:if="${name_error}" th:text="${name_error}"></div>
  	   <div class="has_error" th:if="${phone_error}" th:text="${phone_error}"></div>
  	   <div class="has_error" th:if="${address_error}" th:text="${address_error}"></div>
  
  	   <!-- Header -->
	  <div th:replace="fragments/header :: header"></div>  
  	  
  	  <!-- redirect home-->
  	  <form th:action="@{/}" class="my-5">
  	  	<button type="submit" id="home" class="btn btn-outline"></button>
  	  </form>
  	  
  	  <div class="mx-auto w-50 mt-5">
  	 	  		<div class="d-flex flex-row">
  	  			<div class="col-1" >#id</div>
  	  			<div class="col-4 text-center">Name</div>
  	  			<div class="col-2 text-center">Price</div>
  	  			<div class="col-3 text-center">Qty</div>
  	  			<div class="col-2 d-flex flex-row justify-content-end">Total</div>
  	  		</div>
  	  		
  	  		<div id="cartList">
  	  			<!-- 
  	  				tableInject here
  	  			 -->
  	  		</div>
  	  		<div class=" d-flex flex-row justify-content-end">
  	  			<div class="col-2">
  	  				<div class="bg-dark" style="width:100%; height:2px;"></div>
  	  				<div class="d-flex flex-row justify-content-end mx-3 " style="font-weight:bold;"><span class="px-1 total" ></span> Ks</div>
  	  				<div class="bg-dark" style="width:100%; height:2px;"></div>  	  				
  	  			</div>
  	  		</div>
  	  		<!-- th:action="@{/order/create}" method="POST" -->
			<div id="test">
  	  			<div th:text="*{name}"></div>
  	  			<div class="d-flex flex-row justify-content-center mt-3">
  	  				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create order</button>
  	  			</div>
  	  		</div>
  	  		
  	  		<!-- OrderConfirmModal -->
  	  		<div th:replace="fragments/modal/orderConfirmModal::orderConfirmModal(divisionList=${divisionList},orderList=${orderList},name_error=${name_error},phone_error=${phone_error},address_error=${address_error},has_error=${has_error})"></div>
			
			
  	  </div>
  	  <script>
  	    const orderRowInject =  (orderList)=>{
  	    	const body = $("#rowOrderList");
  	    	let html = "";
  	    	orderList.map((orderList)=>{
  	    		 html += `
  	    			<div class="d-flex flex-row">
		  	  			<div class="col-4 text-center">${orderList.name}</div>
			  	  		<div class="col-3 text-center">${orderList.qty}</div>
		  	  			<div class="col-2 d-flex flex-row justify-content-end">${(orderList.qty*orderList.price).toLocaleString()} Ks</div>
	  	  			</div>  	    			
  	    		`;
  	    	});
  	    
  	    	body.html(html);
  	    	
  	    }
  	  	const tableInject = (orderList)=>{
  	  	const tableBody = $("#cartList");
  	  		let html = "";
  	  		orderList.map(({id,name,price,qty},i)=>{
  	  			html += `
	  	  			<div class="d-flex flex-row items-center py-2 px-3 ${i%2 == 0?'bg-white':'bg-light'}">
		  	  			<div class="col-1 my-auto" >${id}</div>
		  	  			<div class="col-4  my-auto">${name}</div>
		  	  			<div class="col-2 d-flex flex-row justify-content-end my-auto">${price.toLocaleString()} Ks</div>
		  	  			<div class="col-3 text-center">
		  	  				<div class="d-flex flex-row justify-content-center">
							  	<button onclick="minusQty(${id})" class="btn btn-outline minus" ><i class="bi bi-dash-square"></i></button>				  		
							  	<div class="btn" >${qty}</div>
							  	<button onclick="plusQty(${id})" class="btn btn-outline plus"><i class="bi bi-plus-square"></i></button>	
						  	</div>	
		  	  			</div>
		  	  			<div class="col-2 d-flex flex-row justify-content-end my-auto">${(qty*price).toLocaleString()} Ks</div>
		  	  		</div>
  	  			`;
  	  			
  	  		});
  	  	    $(".total").text( orderList.reduce((total,{qty,price})=>total+(qty*price),0).toLocaleString() );	
  	  		$("#qty").text(orderList.length);
  	  	    tableBody.html(html);
  	  	}
   	  	const minusQty = (minusId)=>{
	  		let [{id,name,price,qty}] = JSON.parse( $("input[name='orderList']").val() ).filter( (item)=> item.id==minusId );
	  		let orderList = JSON.parse( $("input[name='orderList']").val() );
	  		let updatedOrderList;
	  		if(qty==1){ // remove item
	  			updatedOrderList = orderList.filter((item)=> item.id != id);
 	  		}else{ // minus qty
 	  			updatedOrderList = orderList.map((item)=> {
 	  				if(item.id == id){
 	  					return {id,name,price,qty:qty-1};
 	  				}else{
 	  					return item;
 	  				}
 	  			})
  	  		}
  	  		// Redirect Home page when there is no item
  	  		if(updatedOrderList.length === 0){  	  			
  	  			$("#home").trigger('click');
  	  			return;
  	  		}
  	  		// Update table
  	  		tableInject(updatedOrderList);
  	  		
  	  		// Update Input
  	  		$("input[name='orderList']").val( JSON.stringify(updatedOrderList) );
  	  	}
  	  	
  	  	const plusQty = (plusId)=>{
  	  		let [{id,name,price,qty}] = JSON.parse( $("input[name='orderList']").val() ).filter((item)=>item.id == plusId);
  	  		
  	  		let orderList = JSON.parse( $("input[name='orderList']").val() );
  	  		let updatedOrderList = orderList.map(({id,name,price,qty})=>{
  	  			if(id == plusId){
  	  				return {id,name,price,qty:qty+1};
  	  			}else{
  	  				return {id,name,price,qty};
  	  			}
  	  		});
  	  		
  	  		// Update table
  	  		tableInject(updatedOrderList);
  	  		// Update Input
  	  		$("input[name='orderList']").val( JSON.stringify(updatedOrderList) );
  	  		
  	  		
  	  		
  	  	}
  	  	
  	  	$(document).ready(function(){
  	  		// to auto call model
  	  		if( $(".has_error").text() ){
  	  			$("#staticBackdrop").modal("show");
  	  		}
  	  		
  	  		// initail create table
  	  		let orderList = JSON.parse( $("input[name='orderList']").val() );
  	  		if(orderList.length === 0){
  	  			$("#home").trigger('click');
  	  		}else{  	  			
	  	  		tableInject(orderList);
  	  		}
  	  	});
  	  	
  	  </script>
  </body>
</html>