<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/common :: head('Create Order')" ></head>

  <body>
  	 
  	   <!-- Header -->
	  <div th:replace="fragments/header :: header"></div>  
  	  
  	  <div class="my-5 py-5"></div>	
  	  
  	  <div class="mx-auto w-50 mt-5">
  		<div class="d-flex flex-row">
			<div class="col-1" >#id</div>
			<div class="col-4 text-center">Name</div>
			<div class="col-2 text-center">Price</div>
			<div class="col-3 text-center">Qty</div>
			<div class="col-2 d-flex flex-row justify-content-end py-2">Total</div>
		</div>
		<div class="d-flex flex-row" th:each="orderDetail:${orderDetailList}" th:object="${orderDetail}">
			<div class="col-1 py-2" th:text="*{id}"></div>
			<div class="col-4 text-center py-2" th:text="*{itemName}"></div>
			<div class="col-2 text-center py-2" th:text="*{price}"></div>
			<div class="col-3 text-center py-2" th:text="*{quantity}"></div>
			<div class="col-2 d-flex flex-row justify-content-end" th:text="*{total}"></div>
		</div>  		
  			
  	  </div>
  	  <script>
  	  
  	  </script>
  </body>
</html>