<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlie.shop.repository.ShopMapper">
	<resultMap type="com.onlie.shop.entity.ItemEntity" id="itemResultMap">
		<id column="id" property="id"></id>
		<result column="name" property="name"></result>
		<result column="price" property="price"></result>
		<result column="photo_url" property="photoUrl"></result>
		<result column="category_id" property="categoryId"></result>
	</resultMap>
	
	<resultMap type="com.onlie.shop.entity.DivisionEntity" id="divisionResultMap">
		<id column="id" property="id"></id>
		<result column="name" property="name"></result>
	</resultMap>
	
	<!-- 
		<resultMap type="com.onlie.shop.entity.OrderEntity" id="orderResultMap">
		<id column="id" property="id"></id>
		<result column="receiver_name" property="receiverName"></result>
		<result column="receiver_phone" property="receiverPhone"></result>
		<result column="receiver_address" property="receiverAddress"></result>
		<result column="user_id" property="userId"></result>
		<result column="division_id" property="divisionId"></result>
	</resultMap>
	 -->
	 
	 <!-- 	<select id="createOrder" resultType="int" >
		SELECT MAX(id)+1 FROM orders;
		INSERT INTO orders (id,receiver_name,receiver_phone,receiver_address,user_id,division_id)
		VALUES
		((SELECT MAX(id) FROM orders)+1,#{receiverName},#{receiverPhone},#{receiverAddress},#{userId},#{divisionId});
	</select> -->
	
	<select id="getAllDivision" resultMap="divisionResultMap">
		SELECT * FROM divisions;
	</select>
	
	<select id="getAllItem" resultMap="itemResultMap">
		SELECT * FROM items;
	</select> 
	<!-- #{receiverName},#{receiverPhone},#{receiverAddress},#{userId},#{divisionId} --> 
	<select id="createOrder" resultType="int" >
		SELECT MAX(id)+1 FROM orders;
		INSERT INTO orders (id,receiver_name,receiver_phone,receiver_address,user_id,division_id)
		VALUES
		((SELECT MAX(id) FROM orders)+1,#{receiverName},#{receiverPhone},#{receiverAddress},#{userId},#{divisionId});
	</select>	
	
	<insert id="createOrderDetail">
		INSERT INTO order_details (quantity,order_id,item_id)
		VALUES
		(#{qty},#{orderId},#{itemId});
	</insert>
</mapper>